/* Variables CSS */
:root {
  --clr-turquoise: #55D6BE; 
  --clr-medium-spring-green: #26F79D; 
  --clr-venetian-red: #C80414; 
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

legend {
  text-align: center;
}

div {
  float: left;
}

.column {
  display: inline-block;
  /* border: 2px solid black; */
  width: 300px;
  height: 675px;
  margin: 10px 35px;
}

h1, h3 {
  text-align: center;
  background-color: var(--clr-turquoise);
}

select {
  width: 280px;
  height: 20px;
  text-align: center;
  margin: 20px 10px;
}

input {
  height: 18px;
  margin: 18px 61.5px;
}

input[disabled] {
  border-color: var(--clr-venetian-red);
  transition: 0.5s;
}

input[disabled]:hover {
  background-color: var(--clr-venetian-red);
  opacity: 0.3;
}

input.quantite {
  border-color: var(--clr-medium-spring-green);
}

input.quantite, input.prixUnitaire, input.prix {
  margin-left: 113px;
  margin-right: 113px;
}

input.prixUnitaire, input.prix {
  width: 73px;
}

.total {
  clear: both;
  float: right;
}

.total p {
  float: left;
}

.mini-field {
  width: 100px;
}
